.container{
	float: left;
}

.rain{
	background: url('../img/rain.png');
}

.clear{
	background: url('../img/clear.png');
}

.snow{
	background: url('../img/snow.png');
}

.layer {
    background-color: rgba(50, 61, 92, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p, 
li, 
button {
	font-family: 'Quicksand', sans-serif;
}

li{
	list-style: none;
}