body{
	background: url('../img/wetsnowbg.png');
}

li{
	list-style: none;
}

.layer {
    background-color: rgba(50, 61, 92, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}