.rain{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(50, 61, 92, 0.55);
}

.clear{
	background-color: rgba(50, 61, 92, 0.55);;
}

.snow{
	background-color: rgba(50, 61, 92, 0.55);;
}

.layer {
    
    background: url('../img/bg.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, 
p, 
li, 
button {
	font-family: 'Quicksand', sans-serif;
	
}

h1, 
p, 
button {
	font-size: 50px;
}

li {
	font-size: 24px;
}

input[type=text]{
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-shadow: none;
	font-family: 'Quicksand', sans-serif;
	font: initial;
	padding: 5px;
	margin: 5px;
}

button{
	height: 27px;
	font-size: 1.5em;
	color: #ffffff;
	border-radius: 60px;
	border: none;
	background: #679CAB;
	padding: 10px 20px;
	text-decoration: none;
}

.getGeolocation{
	width: 250px;
	height: 50px;
}

.getGeolocation:hover{
	text-decoration: none;
}

li{
	list-style: none;
}